<div class="section-container">
    <h2>
      Latest Orders
    </h2>
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
    </div>
     
    <table class="table table-inverse table-hover">
      <thead class="thead-dark">
        <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Order Placed</th>
        <th>Order Fulfilled</th>
        <th>Status</th>
        </tr>
      </thead>
      <tbody class="font-color">
        <tr *ngFor="let order of orders | filter:searchText">
          <td>{{ order.id }}</td>
          <td>{{ order.customer }}</td>
          <td>{{ order.total }}</td>
          <td>{{ order.placed | date: 'short' }}</td>
          <td>{{ order.fulfilled | date: 'short' }}</td>
          <td>Status</td>
        </tr>
      </tbody>
    </table>
  
    <app-pagination
    (goPage)= 'goToPage($event)'
    (goPrev)= 'goToPrevious()'
    (goNext)= 'goToNext()'
    [page]= 'page'
    [perpage]= 'limit'
    [count]= 'total'>
    </app-pagination>
  </div>
